/* Retrato */
@media only screen 
and (orientation : portrait) {
    /* Estilos específicos para dispositivos em modo retrato */
    
    
}

/* Laptops e Desktops */
@media only screen 
and (min-width : 1224px) and (max-width : 1645px) {

    .box-card {
        background-color: white !important;
    }

    .fa-solid {
        font-size: 2em !important;
    }

    .txt-ico {
        margin-left: 10px !important;
        font-size: 0.9em;
    }
}


/* Telas grandes */
@media only screen 
and (min-width : 1645px) {
    /* Estilos para dispositivos com telas maiores que 1824px */
    .box-card {
        background-color: white !important;
    }
}


@media only screen 
and (min-width : 200px) 
and (max-width : 320px) {

    section {
        height: 110vh !important;
        z-index: 222 !important;
    }

    .box-icons {
        z-index: 2221111;
        grid-row: 3 !important;
        margin-top: 7% !important;
        text-align: center !important;
    }

    .icons {
        grid-column: 2 !important;
        border: none !important;
        margin: 15px;
    }

    .icons:nth-child(1) {
        grid-row: 1 !important;
    }

    .icons:nth-child(2) {
        grid-row: 2 !important;
    }

    .icons:nth-child(3) {
        grid-row: 3 !important;
    }

    .box-card {
        height: 50vh !important;
        grid-template-rows: 0.5fr 1fr 0.5fr !important;
    }

    .carousel {
        grid-row: 2 !important;
    }

    .fa-solid {
        font-size: 2em !important;
    }

    section {
        height: 40vh !important;
    }

    .box-icons {
        display: none !important;
    }

    .box-card {
        background-color: darkgreen !important;
    }

    .fa-solid {
        font-size: 2em !important;
    }

    .txt-ico {
        margin-left: 10px !important;
        font-size: 0.9em;
    }

    .icons {
        border-right: none !important;
    }

    .icons:nth-child(2), .icons:nth-child(3) {
        display: none;
    }

    .icons:nth-child(1) {
        grid-column: 2;
    }

    section {
        height: 80vh !important;
    }

    .off {
        display: block !important;
    }

    .on {
        display: none !important;
    }
}



@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    /* Estilos para dispositivos com telas entre 320px e 480px */

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgnav {
        left: 15% !important;
        padding: 0 !important;
    }



    .box-card {
        background-color: chartreuse !important;
        height: 50vh !important;
        grid-template-rows: 0.5fr 1fr 0.5fr !important;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr !important;

    }

    .carousel {
        grid-column: 2 / 7 !important;
        grid-row: 2 !important;
    }

    .fa-solid {
        font-size: 2em !important;
    }

    section {
        height: 110vh !important;
        z-index: 222 !important;
    }

    .box-icons {
        z-index: 2221111;
        grid-row: 3 !important;
        text-align: center !important;
    }

    .icons {
        grid-column: 2 !important;
        border: none !important;
        margin: 15px;
    }

    .icons:nth-child(1) {
        grid-row: 1 !important;
    }

    .icons:nth-child(2) {
        grid-row: 2 !important;
    }

    .icons:nth-child(3) {
        grid-row: 3 !important;
    }


    .off {
        display: block !important;
    }

    .on {
        display: none !important;
    }

    .box-camisas {
        height: 500vh !important;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10% !important;
    }

    .camisa {
        grid-column: 2 / 5 !important;
    }

    
    .camisa:nth-child(2) {
        grid-row: 2 !important;
    }
    
    .camisa:nth-child(3) {
        grid-row: 3 !important;
    }

    .camisa:nth-child(4) {
        grid-row: 4 !important;
    }
    
    .camisa:nth-child(5) {
        grid-row: 5 !important;
    }
    
    .camisa:nth-child(6) {
        grid-row: 6 !important;
    }

    .camisa:nth-child(7) {
        grid-row: 7 !important;
    }

    .camisa:nth-child(8) {
        grid-row: 8 !important;
    }

    .camisa:nth-child(9) {
        grid-row: 9 !important;
    }
}


/**/

@media only screen 
and (min-width:480px) and (max-width:768px){
    .box-card {
        background-color: coral !important;
        height: 70vh !important;
    }

    .box-icons {
        z-index: 2221111;
        grid-row: 3 !important;
        margin-top: 7% !important;
        text-align: center !important;
    }


    .icons {
        grid-column: 2 !important;
        border: none !important;
        margin: 15px;
    }

    .icons:nth-child(1) {
        grid-row: 1 !important;
    }

    .icons:nth-child(2) {
        grid-row: 2 !important;
    }

    .icons:nth-child(3) {
        grid-row: 3 !important;
    }

    .fa-solid {
        font-size: 2em !important;
    }

    .txt-ico {
        margin-left: 10px !important;
        font-size: 0.9em;
    }


    section {
        height: 100vh !important;
    }


    .off {
        display: block !important;
    }

    .on {
        display: none !important;
    }

    .box-camisas {
        height: 500vh !important;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
    }

    .camisa {
        grid-column: 2 / 5 !important;

    }

    
    .camisa:nth-child(2) {
        grid-row: 2 !important;

    }
    
    .camisa:nth-child(3) {
        grid-row: 3 !important;

    }

    .camisa:nth-child(4) {
        grid-row: 4 !important;

    }
    
    .camisa:nth-child(5) {
        grid-row: 5 !important;

    }
    
    .camisa:nth-child(6) {
        grid-row: 6 !important;

    }

    .camisa:nth-child(7) {
        grid-row: 7 !important;

    }

    .camisa:nth-child(8) {
        grid-row: 8 !important;

    }

    .camisa:nth-child(9) {
        grid-row: 9 !important;

    }

    .box-card {
        height: 40vh !important;
    }
}



/* Tablets, iPads (retrato e paisagem) */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
    /* Estilos para tablets e iPads entre 768px e 1024px */
    .box-card {
        background-color: cadetblue !important;
    }

    .fa-solid {
        font-size: 2em !important;
    }

    .txt-ico {
        margin-left: 10px !important;
        font-size: 0.9em;
    }

    .icons {
        border-right: none !important;
    }

    section {
        height: 70vh !important;
    }

    .box-card {
        height: 40vh !important;
    }
}



@media only screen 
and (min-width : 1024px) and (max-width : 1224px) {
    .box-card {
        background-color: blueviolet !important;
    }
    
    .fa-solid {
        font-size: 2em !important;
    }

    .txt-ico {
        margin-left: 10px !important;
        font-size: 0.9em;
    }

    .icons {
        padding: 0 20px;
    }

    .box-card {
        height: 40vh !important;
    }

    section {
        height: 70vh !important;
    }
}

@media (max-height: 760px) {
    /* Estilos que serão aplicados apenas em dispositivos com altura de tela menor que 700px */
    /* Por exemplo: */
    .box-card {
        background-color: aquamarine !important;
        height: 30vh !important;
    }

    .box-card {
        height: 50vh !important;
        grid-template-rows: 0.5fr 1fr 0.5fr !important;
    }

    .box-camisas {
        margin-top: 50%;
    }

    .carousel {
        grid-row: 2 !important;
    }

    .fa-solid {
        font-size: 2em !important;
    }

    section {
        height: 130vh !important;
        z-index: 222 !important;
    }

    .box-icons {
        z-index: 2221111;
        grid-row: 3 !important;
        margin-top: 7% !important;
        text-align: center !important;
    }

    .icons {
        grid-column: 2 !important;
        border: none !important;
        margin: 15px;
    }

    .icons:nth-child(1) {
        grid-row: 1 !important;
    }

    .icons:nth-child(2) {
        grid-row: 2 !important;
    }

    .icons:nth-child(3) {
        grid-row: 3 !important;
    }

}