@media (max-width: 768px) {
    /*CELULAR*/
    .logo {
        display: none;
    }

    .navbar > .container-fluid {
        padding: 0;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .search_menu {
        display: flex;
    }

    .form-control {
        width: 55vw !important;
    }

    .scroll-down3 {
        display: none !important;
    }

    .block1 i, .block2 i, .block3 i {
        display: none;
    }

    .block1 h3, .block2 h3, .block3 h3 {
        font-size: 0.7em !important;
    }

    .block1 p, .block2 p, .block3 p {
        font-size: 0.6em !important;
    }

    .blocks {
        margin-top: 0 !important;
    }
    
    
    .desk {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
}
